{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    td { border: 1px solid black; text-align:center; border-collapse: separate; border-spacing: 2px;}
</style>

<div class="example-wrapper">
    <h1> <center> {{ controller_name }} <center></h1>
    <table>
    <tr>
    <td> Rodzaj Waluty </td>
    <td> Kod Waluty </td>
    <td> Kurs Wymiany </td>
    </tr>
{% for currency in table %}
    <tr>
    <td>{{ currency.name }}</td>
    <td>{{ currency.currencyCode}}</td>
    <td>{{ currency.exchangeRate/10000 }}</td>
    </tr>
{% endfor %}

</div>
{% endblock %}
